DataMining/data/LLCP2014XPT.txt
DataMining/.ipynb_checkpoints/DataMining-Lab1-checkpoint.ipynb
DataMining/.ipynb_checkpoints/DataMining-MiniLab1-Lieberman-Melendez-Rogers-checkpoint.ipynb
DataMining/data/Amazon_Instant_Video_5.json
DataMining/data/dating/ratings.dat
*.html
*.gz
DataMining/data/dating/readme.txt
*.dat
DataMining/.ipynb_checkpoints/Recommender System Sample-checkpoint.ipynb
DataMining/.ipynb_checkpoints/Recommender System Sample-checkpoint.ipynb
